.formDiv{
    width: 40%;
    height: 50%;
    background-color: #DEB887;
    padding-bottom: 15px;
    margin: auto;
    align-items: center;
    border-radius: 10px;
}
form{
    display: grid;
    justify-items: center;
}

input{
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    margin: 2px;
    padding: 2px 7px;
    background-color: #F5DEB3;
}
.addInput{
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 70px;
    margin: 2px;
    padding: 2px 7px;
    background-color: #F5DEB3;
}

label{
    font-weight: bold;
    margin: 2px;
}

button{
    width: 80px;
    height: 40px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    color: aliceblue;
    background-color: #00BFFF;
    cursor: pointer;
}

